html{
    box-sizing: border-box;
    font-size: 16px;
}
*,*:before, *:after{
    box-sizing: inherit;
}
Body,h1,h2,h3,h4,p, ol, ul{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol,ul{
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4{
    font-family: 'League Spartan', sans-serif;
}
.small{
    font-family: 'Quicksand', sans-serif;
}
p{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
Header{
    background-color: #6c8270;
}
h1{
    padding: 30px 0 0 30px;
    font-size: 3em;
}
header h2{
    padding: 0 0 30px 30px;
    text-align: right;
}
header div{
    width:19%;
}