@media screen and (max-width:550px){
    nav,main,footer,article,main ul,header,.leroy{
        width:100%;
        display: block;
    }
    body{
        padding: 5px;
    }
    .pure-g,.pure-menu-horizontal .pure-menu-item{
        display: block;
    }
    .pure-u-1-5, .pure-u-1-2,.loki{
        width:90%;
    }
    .loki img, .leo img{
        width:90%;
    }

}