body{
    background-image: url(../images/sherwood.jpg);
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    margin:opx;
    padding:0px;
    box-sizing:border-box;
}

/* nav {
    display: flex;
    flex-wrap: wrap;
} */
header img{
    display: block;
    margin: auto;
    height: 80px;
    Width: auto;
}
header{
    background-color: rgb(250, 252, 245);
}
nav p {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
nav {
    background-color: lightgray;
}
nav, main, footer{
    display: flex;
    width:60%;
    justify-content: center;
    margin:30px auto;
}
main{
  
}
article{
    width: 60%;
    padding:10px;
}
main ul{
    width: 40%;
    padding:10px;
}