body{
    background-image: url(../images/sherwood3.jpg);
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    margin:opx;
    padding:0px;
    box-sizing:border-box;
    font-size: 16px;
}

/* nav {
    display: flex;
    flex-wrap: wrap;
} */
header img{
    display: block;
    margin: auto;
    height: 80px;
    Width: auto;
}
header{
    background-color: rgb(250, 252, 245);
}
nav p {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
nav {
    background-color: lightgray;
}
nav, main, footer{
    color: rgb(255, 255, 255);
    display: flex;
    width:60%;
    justify-content: center;
    margin:30px auto;
}
main{
  
}
article{
    width: 60%;
    padding:10px;
}
aritcle p{
    border-bottom:solid 1px white;
    padding-bottom: 10px;
}
main ul{
    width: 40%;
    padding:10px;
    align-self: flex-end;
}
main ul li {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    border: solid white 1px;
    text-align: center;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
p{
    line-height: 1.5em;
}